<header>
  <img class="pageLogo" src="../images/TechConnectLogo_2.svg" alt="">
  <a href="#/"><button class="btn btn-danger">Home</button></a>
  <a href="#/companies/list"><button class="btn btn-danger">Companies</button></a>
  <a href="#/events/list"><button class="btn btn-danger">Events</button></a>
  <ul class="jobsList">
    <li class="searchData"><span>Search Jobs: </span><input ng-model="query"></li>
    <li class="searchData">
        <span>Filter by Stack: </span>
        <select ng-model="search.type">
          <option value="">All Jobs</option>
          <option value="Full Stack Engineer">Full Stack Engineer</option>
          <option value="Front End Engineer">Front End Engineer</option>
          <option value="Back End Engineer">Back End Engineer</option>
        </select>
    </li>
  </ul>
</header>

<section data-ng-repeat="job in jobs | filter: search | filter: query">
  <div class="eachJob">
    <h2>{{job.title}}</h2>
    <p>Company: {{job.company}}</p>
    <p>Job URL: <a ng-href="http://{{job.url}}" target="_blank">{{job.url}}</a></p>
    <p>Contact Email Address: {{job.email}}</p>
    <a href="#/jobs/list/{{job._id}}"><button class="btn btn-success">Learn More About {{job.title}}</button></a>
  </div>
</section>
