<header>
  <img class="pageLogo" src="../images/TechConnectLogo_2.svg" alt="">
  <a href="#/"><button class="btn btn-danger">Home</button></a>
  <a href="#/companies/list"><button class="btn btn-danger">Companies</button></a>
  <a href="#/jobs/list"><button class="btn btn-danger">All Jobs</button></a>
  <a href="#/events/list"><button class="btn btn-danger">Events</button></a>
</header>

<div class="userJob singleJob">
  <span class="xBtn"><a href="#/jobs/list"><button class="btn btn-success"><i class="fa fa-times"></i></button></a></span>
  <h2>{{job.title}}</h2>
  <h4>Company:</h4>
  <p>{{job.company}}</p>
  <img src="{{job.logo}}" alt="">
  <h4>Contact Email Address:</h4>
  <p>{{job.email}}</p>
  <h4>Description:</h4>
  <p>{{job.description}}</p>
  <p id="applyNow"><a href="http://{{job.url}}" target="_blank"><button class="btn btn-success btn-lg">Like This Job? Apply Now!</button></a></p>
</div>
