<div class="mainWrapper">
  <div class="admin">
    <h3><a href="#/companies/list">Companies</a> | <a href="#/jobs/list">Jobs</a> | <a href="#/events/list">Events</a> | <a href="" data-toggle="modal" data-target="#myModal">Admin</a></h3>
  </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Admin Login Form:</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="login(username, password)">
          <label>User name</label>
          <input type="text" ng-model="username">
          <label>Password</label>
          <input type="password" ng-model="password">
          <br/>
          {{loginError}}  {{loggedUser}}
          <br/>
          <button class="btn btn-primary" type="submit" ng-click="hideModal()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <div class="logoDiv">
    <img class="logo" src="../images/techConnect.png" alt="">
  </div>

  <button class="downBtn" ng-click="scrollTo('mainMap')"><i class="fa fa-angle-down"></i></button>

</div>

<div class="aboutTC">
  <h1>About Tech Connect</h1>
  <p>Tech Connect is a website where everyone looking to work in the Charleston area can come to find great companies, see if they are hiring, and find events that are going on around the Lowcountry!</p>
</div>

<div id="mainMap" class="localMap">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate itaque pariatur, minus molestias enim iste. Dignissimos tempore ea odit, porro quas deserunt quis officia eveniet voluptate distinctio? Maiores, sed, deserunt. <br> <a href="#/companies/list"><button class="btn btn-lg btn-success">View Locol Companies</button></a></p>
</div>

<div class="jobsAndEvents">
  <section>
    <div class="mainJobs">
      <h2>Jobs</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, adipisci veritatis tenetur nam officiis reiciendis saepe quos ullam perferendis voluptas eius porro delectus est fuga, odit quas non odio debitis.</p>
      <a href="#/jobs/list"><button>View Jobs</button></a>
    </div>
    <div class="mainEvents">
      <h2>Events</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam a ullam dolorem, sunt at non veritatis, vero ex repellat, est molestiae. Accusantium rem, suscipit tempore quas, molestias error sit.</p>
      <a href="#/events/list"><button> View Local Events</button></a>
    </div>
  </section>
</div>

<footer class="mainFooter">
  © 2014 Site by Chris Otten. All rights reserved.
</footer>
