<div class="mainWrapper" ng-controller="homeCtrl">
  <div class="admin">
    <a href="#/companies/list"><button class="btn btn-success">Companies</button></a>
    <a href="#/jobs/list"><button class="btn btn-success">Jobs</button></a>
    <a href="#/events/list"><button class="btn btn-success">Events</button></a>
    <a ng-click="open()"><button class="btn btn-success">Admin</button>
      <div id="myModal">
        <script type="text/ng-template" id="main.html">
          <div class="modal-body">

          </div>
        </script>
      </div>
    </div></a>


  <div class="logoDiv">
    <img class="logo" src="../images/TechConnectLogo_2.svg" alt="">
  </div>

  <button class="downBtn"><i class="fa fa-angle-down"></i></button>

</div>

<div class="aboutTC">
  <h1>About Tech Connect</h1>
  <p>TechConnect is the one-stop-shop for information regarding the Charleston tech community. It features job opportunities, highlights Charleston tech companies, and advertises opportunities for professionals to collaborate and connect.</p>
</div>

<div id="mainMap" class="localMap">
  <p>New to the area? Just want to know more about Charleston, SC tech companies? TechConnect allows you to see all of the companies in a list or on a map. Click the button below to see all of the Charleston tech companies now. <br> <a href="#/companies/list"><button class="btn btn-success">View Locol Companies</button></a></p>
</div>

<div class="jobsAndEvents">
  <section>
    <div class="mainJobs">
      <h2>Jobs</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, adipisci veritatis tenetur nam officiis reiciendis saepe quos ullam perferendis voluptas eius porro delectus est fuga, odit quas non odio debitis.</p>
      <a href="#/jobs/list"><button class="btn">View Jobs</button></a>
    </div>
    <div class="mainEvents">
      <h2>Events</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquam a ullam dolorem, sunt at non veritatis, vero ex repellat, est molestiae. Accusantium rem, suscipit tempore quas, molestias error sit.</p>
      <a href="#/events/list"><button class="btn"> View Local Events</button></a>
    </div>
  </section>
</div>

<footer class="mainFooter">
  © 2014 Site by Chris Otten. All rights reserved.
</footer>
