doctype 5
html
    head
        title= title
        meta(name='viewport', content='width=device-width',  height='device-height', initial-scale='1')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=News+Cycle', type='text/css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', href='./images/favicon.ico')
    body(ng-app= ngApp )
        block content
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js')
        script(src='//maps.googleapis.com/maps/api/js?sensor=false')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/0.8.0/calendar.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/gcal.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js')
        script(src='/components/angular-google-maps/dist/angular-google-maps.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
        script(src='/app.js')
        script(src='/homeCtrl.js')
        script(src='/ModalInstanceCtrl.js')
        script(src='/companies/companies.js')
        script(src='/companies/companiesCtrl.js')
        script(src='/companies/companiesSvc.js')
        script(src='/jobs/jobs.js')
        script(src='/jobs/jobsCtrl.js')
        script(src='/jobs/jobsSvc.js')
        script(src='/events/events.js')
        script(src='/events/eventsCtrl.js')
        script(src='/events/eventsSvc.js')
        script(src='/admin/admin.js')
        script(src='/admin/adminCtrl.js')
