doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/components/fullcalendar/dist/fullcalendar.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', href='../images/favicon.ico')
    body(ng-app= ngApp )
        block content
        script(src='/components/jquery/dist/jquery.js')
        script(src='/components/angular/angular.js')
        script(src='/components/angular-cookies/angular-cookies.js')
        script(src='/components/angular-sanitize/angular-sanitize.js')
        script(src='/components/angular-route/angular-route.js')
        script(src='//maps.googleapis.com/maps/api/js?sensor=false')
        script(src='/components/lodash/dist/lodash.underscore.js')
        script(src='/components/jquery-ui/jquery-ui.js')
        script(src='/components/angular-ui-calendar/src/calendar.js')
        script(src='/components/moment/moment.js')
        script(src='/components/fullcalendar/dist/fullcalendar.js')
        script(src='/components/fullcalendar/dist/gcal.js')
        script(src='/components/angular-bootstrap/ui-bootstrap.js')
        script(src='/components/angular-google-maps/dist/angular-google-maps.js')
        script(src='/components/bootstrap/dist/js/bootstrap.js')
        script(src='/app.js')
        script(src='/homeCtrl.js')
        script(src='/ModalInstanceCtrl.js')
        script(src='/companies/companies.js')
        script(src='/companies/companiesCtrl.js')
        script(src='/companies/companiesSvc.js')
        script(src='/jobs/jobs.js')
        script(src='/jobs/jobsCtrl.js')
        script(src='/jobs/jobsSvc.js')
        script(src='/events/events.js')
        script(src='/events/eventsCtrl.js')
        script(src='/events/eventsSvc.js')
        script(src='/admin/admin.js')
        script(src='/admin/adminCtrl.js')
