$primary-blue: #2A6496;
$grey-background: #f2f2f2;
$opaque-background: rgba(42,100,150,0.5);
$hiring-color-main: #3D8B37;
$hiring-hover-color: green;
$light-text: white;
$dark-text: black;
$create-form-background: rgba(250, 250, 250, 0.8);
$logo-background: rgba(250, 250, 250, 0.5);


body {
  background-color: $grey-background;
  margin:0px;
  padding: 0px;
  header {
    position: relative;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    .pageLogo {
      position: absolute;
      left: 10px;
      height: 75px;
    }
  }
  .adminHeader {
    text-align: center;
  }
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#adminIntro {
  text-align: center;
}

.adminView {
  width: 100%;
  text-align: center;
  .adminCompanies  {
    width: 49.7%;
    display: inline-block;
    vertical-align: top;
    .eachCompany {
      position: relative;
      background-color: $opaque-background;
      margin: 5px 10px;
      padding: 5px 10px;
      border-radius: 5px;
      h2 {
        margin-top: 10px;
      }
    }
  }
  aside {
    width: 49.7%;
    display: inline-block;
    vertical-align: top;
    .adminJobs {
    }
  }
}

.btn {
  background-color: $primary-blue;
  color: $light-text;
  border: 1px solid $primary-blue;
}

.btn:hover {
  background-color: $grey-background;
  color: $dark-text;
  border: 1px solid $primary-blue;
}

.createCompany, .createJob, .editCompany, .editJob {
  text-align: center;
  font-size: 1.5em;
  background-color: $opaque-background;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  h2 {
    padding-top: 10px;
  }
  form {
    padding-bottom: 10px;
    input, textarea, select {
      margin-bottom: 5px;
      width: 90%;
      border-radius: 5px;
      border: 1px solid grey;
      background-color: $create-form-background;
    }
  }
}

.mainWrapper {
  background-image: Url("../images/computer3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @media (max-height: 617px) {
    height: 565px;
  }
  .admin {
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
    a {
      text-decoration: none;
    }
    button:hover {
      background-color: $light-text;
      color: $dark-text;
    }
  }
  .logoDiv {
    text-align: center;
    height: 600px;
    img {
      margin-top: 75px;
      height: 200px;
      background-color: $logo-background;
      padding: 5px;
      border-radius: 5px;
      @media (max-width: 600px) {
        height: 150px;
      }
      @media (max-width: 450px) {
        height: 100px;
      }
    }
  }
  .downBtn {
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 3em;
    border-radius: 100%;
    background-color: #3B83BE;
    border: 1px solid #3B83BE;
    color: $light-text;
    width: 60px;
    @media (max-width: 1250px) {
      top: 94%;
    }
  }
  button:hover {
    background-color: $primary-blue;
    color: $light-text;
    border: 1px solid $primary-blue;
  }
}

.aboutTC {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: $grey-background;
  color: $primary-blue;
  p {
    font-size: 2em;
  }
}

.localMap {
  position: relative;
  background-image: Url("../images/Map.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top:0px;
  overflow: auto;
  text-align: center;
  filter: gray;
  @media (max-width: 650px) {
    height: 300px;
  }
  p {
    position: absolute;
    top:5%;
    right: 3%;
    width: 40%;
    font-size: 2em;
    background-color: rgba(250,250,250,0.5);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: $primary-blue;
  }
  @media (max-width: 1100px) {
    p {
      font-size: 1.5em;
    }
  }
  @media (max-width: 650px) {
    p {
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 60%;
    }
  }
  @media (max-width: 575px) {
    p {
      height: 80%;
    }
  }
}

.jobsAndEvents {
  padding: 50px 0px;
  width: 100%;
  background-color: $grey-background;
  color: $primary-blue;
  section {
    text-align:center;
    .mainJobs {
      width: 40%;
      display: inline-block;
      margin-right: 10px;
      border: 2px solid $primary-blue;
      border-radius: 5px;
      padding-bottom: 10px;
      background-color: $grey-background;
      color: $primary-blue;
      font-size: 1.5em;
      @media (max-width: 650px) {
        display: block;
        width: 100%;
        margin: 0px;
        border-radius: 0px;
      }
      h2 {
        margin-top:10px;
      }
      .btn {
        border: 1px solid $grey-background;
      }
    }
    .mainEvents {
      width: 40%;
      display: inline-block;
      margin-left: 10px;
      border: 2px solid $primary-blue;
      border-radius: 5px;
      padding-bottom: 10px;
      background-color: $grey-background;
      color: $primary-blue;
      font-size: 1.5em;
      vertical-align: top;
      @media (max-width: 650px) {
        display: block;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        border-radius: 0px;
      }
      h2 {
        margin-top:10px;
      }
      .btn {
        border: 1px solid $grey-background;
      }
    }
  }
}

.mainFooter {
  text-align:center;
  background-color: $grey-background;
  color: $primary-blue;
}

.angular-google-map-container {
  height: 600px;
  }

.theMap {
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $primary-blue;
  #map {
    height: 550px;
  }
}

.allCompanies {
  .eachCompany {
    position: relative;
    background-color: $opaque-background;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    h2 {
      margin-top: 10px;
    }
  }
}

.userCompanies {
  .userCompany {
    position: relative;
    background-color: $opaque-background;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    h2 {
      margin-top: 10px;
    }
    .hiring {
      font-size: 1em;
      a {
        color: $hiring-color-main;
        text-decoration: none;
      }
      a:hover {
        color: $hiring-hover-color;
      }
    }
  }
}

.eachJob {
  position: relative;
  background-color: $opaque-background;
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  h2 {
    margin-top: 10px;
    text-decoration: underline;
  }
}

.userJob {
  position: relative;
  background-color: $opaque-background;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .xBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    a {
      button {
        font-size: 2em;
      }
    }
  }
  h2 {
    margin-top: 10px;
    text-decoration: underline;
  }
  #applyNow {
    text-align: center;
  }
  img {
    position: absolute;
    top: 20px;
    right: 80px;
    max-height: 200px;
  }
}

.singleJob {
  margin-top: 60px;
}

.eachAdminJob {
  margin-top: 0px;
}

.jobsList {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
  }
}

.searchData {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  span {
    color: $primary-blue;
  }
  input {
    border-radius: 5px;
    border: 1px solid #3B83BE;
    background-color: $grey-background;
    color: $dark-text;
  }
}

/* Calendar */
.well {
  background-color: $opaque-background;
  border-radius: 5px;
  width: 100%;
}

.fc-toolbar {
  color: $primary-blue;
}


.eventMain {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  .eventCal {
    display: inline-block;
    vertical-align: top;
    width: 59%;
    @media (max-width: 1000px) {
      width: 98%;
      margin: 0px auto;
      display: block;
      text-align: center;
    }
  }
  .eventTwitter {
    display: inline-block;
    width: 40%;
    @media (max-width: 1000px) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}

.well-lg {
  background-color: $opaque-background;
}
