body {
  background-image: Url("http://subtlepatterns.com/patterns/tweed.png");
  background-attachment: fixed;
  header {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  .adminHeader {
    text-align: center;
  }
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.admin {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.createCompany, .createJob, .editCompany, .editJob {
  text-align: center;
  font-size: 1.5em;
  background-color: #1B85B7;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  h2 {
    padding-top: 10px;
    color: white;
  }
  form {
    padding-bottom: 10px;
    input, textarea, select {
      margin-bottom: 5px;
      width: 90%;
      border-radius: 5px;
      border: 1px solid grey;
      background-color: rgba(250, 250, 250, 0.5);
    }
  }
}


.logoDiv {
  text-align: center;
  height: 350px;
  img {
    margin-top: 50px;
    background-color: rgba(250, 250, 250, 0.3);
  }
}

.mainLinks {
  padding: 0px;
}

.mainPages {
  list-style-type: none;
  padding: 0px;
  li {
    display: inline-block;
    background-color: black;
    img {
      height: 300px;
    }
  }
}

.aboutTC {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  p {
    font-size: 2em;
  }
}

.angular-google-map-container {
  height: 600px;
  }

.theMap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  #map {
    height: 550px;
  }
}

.eachCompany {
  background-color: rgba(250,250,250,0.6);
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  h2 {
    margin-top: 10px;
  }
}

.eachJob {
  position: relative;
  background-color: rgba(250,250,250,0.6);
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  h2 {
    margin-top: 10px;
    text-decoration: underline;
  }
  #applyNow {
    text-align: center;
  }
  img {
    position: absolute;
    top: 20px;
    right: 20px;
    max-height: 200px;
  }
}

.jobsList {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
  }
}

.searchData {
  margin-top: 10px;
  text-align: center;
  font-size: 2em;
  span {
    color: white;
  }
  input {
    border-radius: 5px;
    border: 1px solid white;
  }
}

/*** Calendar ***/

#directives-calendar {
  margin-left: 40px;
  margin-right: 40px;
}

.unstyled {
  list-style-type: none;
  padding: 20px;
}

.calAlert{
	width: 595px; float: right; margin-bottom: 5px;
}

.calXBtn{
	float: right; margin-top: -5px; margin-right: -5px;
}

.calWell{
	float: left; margin-bottom: 40px;
}

.fc-event.openSesame .fc-event-skin{
	background-color: rgb(229, 229, 11);
	color: black;
}

.fc-event.customFeed .fc-event-skin{
	background-color: rgb(132, 222, 175);
	color: black;
}

.calTools{
	margin-bottom: 10px;
}
