This is a test!

<input type="text" data-ng-model="company.title" placeholder="Company Name">
<input type="text" data-ng-model="company.url" placeholder="Company Url">
<input type="text" data-ng-model="company.location" placeholder="Company Address">
<input type="text" data-ng-model="company.phoneNumber" placeholder="Company Phone Number">
<input type="text" data-ng-model="company.email" placeholder="Company Email">
<textarea name="" id="" cols="30" rows="10" data-ng-model="company.technologies" placeholder="Company Technologies"></textarea>
<button data-ng-click="createCompany(company)">Create</button>
