<header>
  <img class="pageLogo" src="../images/TechConnectLogo_2.svg" alt="">
  <a href="#/"><button class="btn navBtn btn-danger">Home</button></a>
  <a href="#/companies/map"><button class="btn navBtn btn-danger">Map View</button></a>
  <a href="#/jobs/list"><button class="btn navBtn btn-danger">Jobs</button></a>
  <a href="#/events/list"><button class="btn navBtn btn-danger">Events</button></a>
  <p class="searchData"><span>Search Companies: </span><input ng-model="query"></p>
</header>

<section class="userCompanies" data-ng-repeat="company in companies | orderBy:'title' | filter:query">
  <div class="userCompany">
    <h2>{{company.title}} <span class="hiring" ng-show="{{company.ifHiring}}"><a href="#/jobs/list">is hiring!</a></span></h2>
    <p>Website: <a ng-href="http://{{company.url}}" target="_blank">{{company.url}}</a></p>
    <p>Address: {{company.location}}</p>
    <p>Phone Number: {{company.phoneNumber}}</p>
    <p>Email Address: <a href="mailto:{{company.email}}">{{company.email}}</a></p>
  </div>
</section>
