<header>
  <a href="#/"><button class="btn btn-danger">Home</button></a>
  <a href="#/companies/map"><button class="btn btn-danger">Map View</button></a>
  <a href="#/jobs/list"><button class="btn btn-danger">Jobs</button></a>
  <a href="#/events/list"><button class="btn btn-danger">Events</button></a>
  <p class="searchData"><span>Search Companies: </span><input ng-model="query"></p>
</header>
<hr>
<section class="allCompanies" data-ng-repeat="company in companies | orderBy:'title' | filter:query">
    <div class="eachCompany">
      <h2>{{company.title}}</h2>
      <p class="hiring" ng-show="{{company.ifHiring}}"><a href="#/jobs/list">{{company.title}} is hiring!</a></p>
      <p>Website: <a ng-href="http://{{company.url}}" target="_blank">{{company.url}}</a></p>
      <p>Address: {{company.location}}</p>
      <p>Phone Number: {{company.phoneNumber}}</p>
      <p>Email Address: {{company.email}}</p>
    </div>
</section>
