<header ng-init="mapInit()">
  <img class="pageLogo" src="../images/TechConnectLogo_2.svg" alt="">
  <a href="#/"><button class="btn navBtn btn-danger">Home</button></a>
  <a href="#/companies/list"><button class="btn navBtn btn-danger">List View</button></a>
  <a href="#/jobs/list"><button class="btn navBtn btn-danger">Jobs</button></a>
  <a href="#/events/list"><button class="btn navBtn btn-danger">Events</button></a>
</header>

<div class="theMap">
  <h2>Local Charleston Tech Companies</h2>
  <div id="map"></div>
</div>

<footer class="mainFooter">
  © 2014 Site by Chris Otten. All rights reserved.
</footer>
