<header>
  <a href="#/admin/companies/create"><button class="btn btn-warning">Add A Company</button></a>
  <a href="#/admin"><button class="btn btn-warning">Admin Portal</button></a>
</header>
<p class="searchData"><span>Search Companies: </span><input ng-model="query"></p>
<hr>

<section data-ng-repeat="building in companies | orderBy:'title' | filter:query">
    <div class="eachCompany">
      <h2>{{building.title}}</h2>
      <p>Website: <a ng-href="http://{{building.url}}" target="_blank">{{building.url}}</a></p>
      <p>Address: {{building.location}}</p>
      <p>Phone Number: {{building.phoneNumber}}</p>
      <p>Email Address: {{building.email}}</p>
      <button ng-click="deleteCompany(building)" class="btn btn-danger">Delete</button>
      <a href="#/admin/companies/{{building._id}}/update"><button class="btn btn-info">Update</button></a>
    </div>
</section>
