<a href="#/admin/companies/create"><button>Add A Company</button></a>
<a href="#/admin"><button>Admin Portal</button></a>
<br<
Search Companies: <input ng-model="query">

<section data-ng-repeat="company in companies | orderBy:'title' | filter:query">
    <div class="eachCompany">
      <h2>{{company.title}}</h2>
      <p>Website: <a ng-href="http://{{company.url}}" target="_blank">{{company.url}}</a></p>
      <p>Address: {{company.location}}</p>
      <p>Phone Number: {{company.phoneNumber}}</p>
      <p>Email Address: {{company.email}}</p>
      <button ng-click="deleteCompany(company)">Delete</button>
      <a href="#/admin/companies/{{company._id}}/update"><button>Update</button></a>
    </div>
</section>
