<a href="#/admin/companies/create"><button>Add A Company</button></a>
<a href="#/admin"><button>Admin Portal</button></a>
<br<
Search Companies: <input ng-model="query">

<section data-ng-repeat="building in companies | orderBy:'title' | filter:query">
    <div class="eachCompany">
      <h2>{{building.title}}</h2>
      <p>Website: <a ng-href="http://{{building.url}}" target="_blank">{{building.url}}</a></p>
      <p>Address: {{building.location}}</p>
      <p>Phone Number: {{building.phoneNumber}}</p>
      <p>Email Address: {{building.email}}</p>
      <button ng-click="deleteCompany(building)">Delete</button>
      <a href="#/admin/companies/{{building._id}}"><button>Update</button></a>
    </div>
</section>
