<div class="editCompany">
  <h2>Update Company Information</h2>
  <form ng-submit="editCompany(company)">
    <input type="text" ng-model="company.title" value="{{company.title}}"><br>
    <input type="text" ng-model="company.url" value="company.url"><br>
    <input type="text" ng-model="company.location" value="company.location"><br>
    <input type="text" ng-model="company.phoneNumber" value="company.phoneNumber"><br>
    <input type="email" ng-model="company.email" value="company.email"><br>
    <textarea cols="30" rows="10" ng-model="company.technologies" value="company.technologies">{{company.technologies}}</textarea><br>
    <button type="submit" class="btn btn-lg btn-success">Update</button>
    <a href="#/admin/companies"><button class="btn btn-lg btn-danger">Cancel</button></a>
  </form>
</div>
