<header class="adminHeader">
  <a href="#/"><button class="btn btn-lg btn-success">Home Page</button></a>
  <a href="#/admin/companies"><button class="btn btn-lg btn-warning">View Current Companies</button></a>
  <a href="#/admin/companies/create"><button class="btn btn-lg btn-warning">Add A Company</button></a>
  <a href="#/admin/jobs/"><button class="btn btn-lg btn-warning">View Current Jobs</button></a>
  <a href="#/admin/jobs/create"><button class="btn btn-lg btn-warning">Add A Job</button></a>
</header>
