<section data-ng-submit="editJob(job)">
    <input type="text" data-ng-model="job.company" value="job.company"><br>
    <input type="text" data-ng-model="job.url" value="job.url"><br>
    <input type="text" data-ng-model="job.title" value="job.title"><br>
    <textarea cols="30" rows="10" data-ng-model="job.description" value="job.description"></textarea><br>
    <input type="text" data-ng-model="job.email" value="job.email"><br>
    <button type="submit">Update Job</button>
    <a href="#/admin/jobs"><button>Cancel</button></a>
</section>
