<header>
  <a href="#/"><button class="btn btn-danger">Home</button></a>
  <a href="#/companies/list"><button class="btn btn-danger">Companies</button></a>
  <a href="#/jobs/list"><button class="btn btn-danger">Jobs</button></a>
</header>
<hr>

<div role="main">
  <div class="container">
    <h2 class="calHeader">Local Charleston Tech Events:</h2>
    <section id="directives-calendar" ng-controller="eventsCtrl">
      <div class="well">
        <div class="row-fluid">
          <div>
            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="twitterFeed">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/chstech" data-widget-id="517838517804617728">#chstech Tweets</a>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
